*{
    padding: 0;
    margin: 0;
}
html{
    background: #181818
    ;
    width: 420px;
}
.header{
    background: black;
    color: #fff;
    font-family: poppins;
}
.header > h3{
    padding: 20px;
    margin-left: 15px;
}

.rect{
    background-image: url(/images/rect.png);
    width: 480px;
    height: 550px;
    object-fit: cover;
}
.deco{
    padding: 55px;
    font-size: 26px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    width: 70%;
    line-height: 35px;
    text-align: center;
}
.deco1{
    color: rgb(253, 222, 175);
}
.deco2{
    font-size: 18px;
    color: #fff;
    width: 70%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
    line-height: 27px;
}
.deco3{
    font-size: 18px;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    width: 50%;
    border: 2px solid burlywood;
    border-radius: 5px;
    background: rgba(172, 150, 117, 1);
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.arrow{
    display: flex;
    flex-direction: row;
    border: 2px solid white;
    border-radius: 5px;
    color: #fff;
    width: 50%;
    padding: 10px;
    justify-content: center;
    margin: 0 auto;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.arrow > p{
    padding-right: 6px;
}

.ourstory{
    margin: 30px;
}
.h1{
    background-image: url(/images/rect.png);
    height: 500px;
}
.back{
    display: flex;
    flex-direction: row;
    padding: 30px;
    margin: 30px;
    width: 80%;
    margin: 0 auto;
}
.back1{
    font-size: 28px;
    font-family: Geneva, Tahoma, sans-serif;
       font-weight: 700;
       padding: 10px;
}
.who{
    font-size: 17px;
    font-family: verdana, Tahoma, sans-serif;
    font-weight: 500;
}

.lorem{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
     width: 87%;
    margin: 0 auto;
}

.lorem1{
    font-size:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    width: 87%;
    margin: 0 auto;
    margin-top: 30px;
}
.read{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90%;
    margin-top: 20px;
}
.read1{
    font-size: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 800;
}
.read > img{
    object-fit: contain;
    padding: 5px;
}
.wwa{
    background: rgba(242, 242, 241, 0.9);
    margin: 20px;
}
.creat{
    color: rgba(172, 150, 117, 1);
    width: 80%;
    margin: 0 auto;
    font-family: poppins;
    font-size: 18px;
}
.design{
    color: #fff;
    font-size: 22px;
    width: 80%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    line-height: 30px;
    margin-top: 15px;
}

.dolor{
    color: #fff;
    width: 80%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    font-family:  poppins;
    margin-top: 25px;
}

.apart{
    padding: 10px;
}
.apt{
    background-image: url(/images/Rectangle\ 7\ \(2\).png);
    width: 319px;
    height: 310px;
    margin: 0 auto;
    margin-top: 35px;
}
.apt1{
    padding: 20px;
    margin: 20px;
    background: rgba(0, 0, 0, 0.7);
    height: 80%;
    
    
}
.aptd{
    font-size: 23px;
    width: 100%;
    margin: 0 auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
    margin-top: 20px;
    color: #fff;
}
.sit{
    font-size: 18px;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: 500;
    width: 80%;
    padding-top: 20px;
    margin: 0 auto;
    color: #fff;
}
.view{
    font-size: 18px;
    font-family: Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin: 0 auto;
    color: #fff;
    padding: 10px;
    width: 60%;
    border: 2px solid burlywood;
    border-radius: 5px;
    background: rgba(172, 150, 117, 1);
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
.sec{
    background-image: url(/images/Rectangle\ 12\ \(4\).png);
    width: 320px;
    height: 306px;
    margin: 0 auto;
    margin-top: 35px;
}

.ird{
    background-image: url(/images/Rectangle\ 9.png);
    width: 320px;
    height: 306px;
    margin: 0 auto;
    margin-top: 35px;
}
.thir{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    justify-content: flex-end;
    width: 87%;
}
.readm{
    font-size: 16px;
    color: rgba(172, 150, 117, 1);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    padding-right: 6px;
}
.thir > img{
    object-fit: contain;
}

.port{
    background-image: url(/images/port.png);
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 30px;
}
.comp{
    color: #fff;
    font-family: poppins;
    font-size: 22px;
    margin-top: 10px;}

.decor{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.img1{
    padding: 10px;
}
.p1{
    font-family: poppins;
    font-size: 17px;
    color: #fff;
}

.create{
    margin-top: 25px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
}

.create > h2{
    color: rgba(172, 150, 117, 1);
    
}
.create > h1{
    color: #fff;
    margin-top: 12px;
}
.lrm{
    text-align: center;
    margin-top: 20px;
    font-size: 19px;
    color: #fff;
    font-family: poppins;
    padding: 20px;
    margin-bottom: 20px;
}
.single{
    width: 60%;
    background: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    padding: 20px;
    margin-top: 25px;
}

.si{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 19px;
  text-align: center;
  padding: 23px;

}
.sin{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 29px;
    padding: 15px;
    text-align: center;
}
.style{
    margin-top: 30px;
    text-align: center;

}
.ss{
width: 80%;
margin: 0 auto;
font-family: poppins;
font-size: 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.3);
padding: 6px;
}

.ssi{
    width: 80%;
margin: 0 auto;
font-family: poppins;
font-size: 20px;
padding: 6px;
}

.sendr{
    border: 2px solid rgba(172, 150, 117, 1);
    border-radius: 4px;
    width: 54%;
    margin: 0 auto;
    margin-top: 50px;
    color: #fff;
    font-weight: 800;
    padding: 18px;
    background: rgba(172, 150, 117, 1);
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.officed{
        width: 60%;
        background: rgba(172, 150, 117, 1);
        margin: 0 auto;
        margin-top: 25px;
        padding: 20px;
        color: #fff;
    }

    .sendr2{
        border: 2px solid rgba(172, 150, 117, 1);
        border-radius: 4px;
        width: 54%;
        margin: 0 auto;
        margin-top: 50px;
        color: rgba(172, 150, 117, 1);
        font-weight: 800;
        padding: 18px;
        display: flex;
        justify-content: center;
        text-align: center;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background: rgba(255, 255, 255, 1);
    }
    .style2{
        margin-top: 30px;
        text-align: center;
    
    }
    .ss2{
        width: 80%;
        margin: 0 auto;
        font-family: poppins;
        font-size: 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        padding: 6px;
        }

        .ssi2{
            width: 80%;
        margin: 0 auto;
        font-family: poppins;
        font-size: 20px;
        padding: 6px;
        }
  
    
.col1{
    margin-top: 40px;
}
       
.jd{
    display: flex;
    justify-content: center;
}

.imgd{
    border: 1px solid rgba(238, 238, 238, 1);
    padding: 20px;
}
.hp{
    margin-top: 20px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hp > p{
    color: rgba(172, 150, 117, 1);
    margin: 5px;
}
.from{
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(238, 238, 238, 1);
    margin-top: 30px;
}

.select{
    margin-top: 25px;
    display: flex;
    justify-content: center;
}
.sel{
    border: 0.2px solid rgba(238, 238, 238, 1);
}
.sel > p{
    font-family: poppins;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    padding: 28px;
    color: rgba(238, 238, 238, 1);
    margin: 10px;
}

.latest{
    margin-top: 65px;
}
.receive{
    margin-left: 24px;
}

.receive > p
{
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.em{
    border: 2px solid rgba(172, 150, 117, 1);
    width: 85%;
    margin-top: 15px;
    padding: 15px;
    border-radius: 6px;
}

.subs{
    border: 1px solid rgba(172, 150, 117, 1);
    width: 25%;
    margin-top: 15px;
    padding: 15px;
    border-radius: 5px;
    text-align: center;
    background: rgba(172, 150, 117, 1);
}
